body{
    background-color: #f1f1f1;
    overflow-x: hidden;
}
a{
    color: black;
}
a:hover{
    text-decoration: none;
}
.logo{
    margin-top: 3px;
}

.logo img{
    float: left;
    width: 30px;
    height: 35px;
}
.logo div{
    float: left;
    color: #ffffff;
    font-size: xx-large;
}
.logo span{

    float: left;
    color: #ffffff;
    font-size: xx-large;
}
.tip{
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
    padding: 0px;
    border-radius: 7px;
    background-color: white;
}
.tip>div:first-child{
    padding: 5px;
    background-color: #fbfbfb;
    font-size: 17px;
    border-bottom: #EAEAEA;
    font-weight: lighter;
    color: rgba(0,0,0,0.8);
}
.tip>div:first-child>span{
    font-size: small;
    color: black;
    float: right;
    margin-right: 7px;
    margin-top: 3px;
    text-align: center;
    width: 20px;
}
.tip>div:first-child>span:hover{
    border-bottom: black 1px solid;
}
.HotTipSvg{
    width: 15px;
    height: 15px;
    margin-left: 5px;
    margin-right: 5px;
    vertical-align: middle;

}
.tip>div:nth-child(2)>div{
    height: 100px;
    border-bottom: 1px solid #d5d5d5;
    padding-right: 5px;
}
.tip>div:nth-child(2)>div:last-child{
    border: 0px;
}
.tip>div:nth-child(2)>div>div{
    padding-top: 5px;
}
.tip>div:nth-child(2)>div>div>h5{
    height: 40px;
    overflow: hidden;
    font-size: 12px;
}
.tip>div:nth-child(2)>div>div>p{
    margin-right: 10px;
    font-size: small;
}
.tip>div:nth-child(2)>div>img{
    float: left;
    height: 80px;
    width: 80px;
    margin: 7px;
    border-radius: 5px;
}
.tipKey{
    margin-top: 10px;
}
.tipKey>div:last-child{
    padding-bottom: 20px;
    padding-top: 8px;
}
.tipKey>div>a{
    border: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    padding: 5px;
    margin: 5px;
    border-radius: 3px;
    font-size: small;
    color: rgba(0,0,0,0.6);
}
.tipKey>div>a:hover{
    border-color: #a6e1ec;
    color: #5bc0de;
    text-decoration: none;
}
.tip>div:nth-child(2)>div{
    transition: all 200ms;
}
.tip>div:nth-child(2)>div:hover{
    background-color: rgba(0,160,0,0.1);
    border-left: #81c53f 3px solid;
}
.foot{
    background-color: #3C3C3C;
    position: relative;
    height: 100px;
    margin-top: 20px;
}
.foot>div:first-child a{
    margin-top: 10px;
    color: white;
    font-size: small;
    padding: 0;
}
.foot>div:first-child a:hover{
    color: #ec971f;
    text-decoration: none;
}
.foot>div:last-child>div{
    font-size: small;
    color: #d5d5d5;
    margin-top: 15px;
}

@media screen and (max-width: 1200px) {
    .hideInSmall{
        display: none;
    }
}
@media screen and (max-width: 1500px){
    .tip>div:nth-child(2)>div{
        height: 150px;
    }
}
/*_______________________________通用________________________________*/

.margin-left-sm{
    margin-left: 10px;
}
.margin-right-sm{
    margin-right: 10px;
}
.vertical-center{
    vertical-align: center;
    display: inline-block;
}
.PromptBox{
    position: fixed;
    top: 100px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(147,174,191,0.5);
    color: white;
    font-size: 16px;
    font-weight: normal;
    width: 200px;
    height: 35px;
    border-top: 1px solid rgba(204,219,222,1);
    border-bottom: 1px solid rgba(204,219,222,1);
    padding-top: 0px;
    text-align: center;
    padding: 5px;
}